/*FORM-section*/
#form {
	padding: 30px 20px;
	background-color: #fff;
	box-shadow: 0 0 5px 2px #17469e3c;
	margin-top: 0px;
	border-radius: 10px;
}

.frm-heading h5 {
	text-align: center;
	font-size: 20px;
	color: var(--dark-blue);
	margin: 0px;
}

.frm-heading p {
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	padding: 0px 0px 0px 0px;
	/* margin-top: -18px; */
}

label {
	color: #000;
	font-weight: 500;
	padding-top: 5px;
}

.form-control {
	line-height: 1.5;
	background-color: #fff !important;
	border: 1px solid #ccc !important;
	font-size: 0.75em;
	margin-bottom: 10px;
}

.required {
	color: red;
}

.sub-btn {
	background-color:#BC1820!important;
	color: #fff;
	width: 100%;
	border-style: none;
	padding: 5px;
	border-radius: 3px;
	font-weight: 500;
}
@media (max-width: 480px) {
	#form {
	padding: 30px 20px;
	background-color: #fff;
	box-shadow: 0 0 5px 2px #17469e3c;
	margin-top: 0px;
	border-radius: 10px;
}
}