* {
	margin: 0px;
	padding: 0px;
}

.iti{width: 100%; margin-bottom: 10px;}
html {
	scroll-padding-top: 80px;
	overflow-x: hidden !important;
	scroll-behavior: smooth!important;
}

body {
	height: 100%;
	width: 100%;
	overflow-x: hidden !important;
	scroll-behavior: smooth!important;
	transition: 2s;
	font-family: "Montserrat";
}

:root {
	--primary-color: #BC1820;
	--secondary-color:#F5912A;
	--white-color:#fff;
	--black-color:#000; 
	--light-bg:#FFF2F2;
	--dark-blue:#002266;
	--dark-gray: #333333;
  }
section {
	margin: 30px 0px 30px 0px;
	padding: 40px 20px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{margin-bottom: 0px!important;}

 hr {
	margin: 0.5rem;
	color: inherit;
	background-color: #ccc;
	
} 
.yellow{color: var(--secondary-color);}


p {
	margin-top: 0;
	margin-bottom: 0rem; font-size: 13px; line-height: 1.4;
}


#topbar-content p {
	text-align: center;
	color: #fff;
	background-color: #000;
	padding: 10px;
}


.sub-h {
	text-align: center;
	font-size: 18px;
	font-weight: 500;
}

.blue-btn {
	background-color: #3794e1;
	color: #fff;
	border-style: none;
	padding: 10px 20px;
	border-radius: 30px;
	margin: 20px 0px;
}



.top-banner {
	background-image: url(../images/galgotias-desktop.webp);
	background-size: cover;
	padding: 50px 20px;
}

#main-content {
	justify-content: center; align-items: center;
	margin: auto;
}


#main-content h1 {
	color: var(--white-color);
	font-size: 30px !important;
	font-weight: 700; line-height: 1;
}

#main-content p{font-size: 14px; line-height: 1; color: #fff; border: 1px solid var(--secondary-color); display: inline-block; padding: 10px; border-radius: 10px; font-weight: 500;}

#main-content h2 {
	font-size: 45px!important;
	color: var(--white-color);
	margin-top:20px; font-family: "Bebas Neue"!important;
}


.top-banner h2 {
	font-size: 30px;
	font-weight: 500;
}

.topbtn {
	background-color: #ffffff;

    border: 1px solid var(--white-color);
    padding: 10px 30px;
    color: #800505;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    margin: 20px 0px;
}

/* end topbar */


/* start approvals */

#approvals {
	padding: 30px 0px; background-color: var(--secondary-color);
}
.apr{border: 2px solid #4D4D4D; border-radius: 30px;}

#approvals p{font-size: 14px; line-height:1.2; color: #fff;}
#approvals img{float: left; width: 70px; padding:0px 10px 0px 0px}
#approvals h2 {
	color: #811811;
	font-weight: 600; font-size: 20px;
}

.yellow{color:#FFD508; font-weight: 600;}
#approvals-box h3{font-size: 20px; color: #fff; font-weight: 600;}
#approvals-box p {
	display: flex;
	justify-content: center;
}

#approvals-box p {
	font-size: 13px;
	font-weight: 500;
	margin-top: 10px;
}


/* start programs */

.program-heading{justify-content: center; display: grid; margin: 10px; text-align: center;}
.program-heading p{font-size: 13px;}
#program h2{ font-weight: 600;color: var(--dark-blue);}
.card-box:hover {
  transform: translateY(-5px); transition: 0s;
}
.card-box-info h2{font-weight: 600; color: var(--secondary-color)!important;}
/* Style the tab */

  .card-box{background-color: #333; box-shadow: 0 0 5px 2px #ccc;  transition: transform 0.3s ease; }
    .card-box h2{font-size: 30px!important; font-weight: 600; width: 100px; color: var(--white-color); text-align: left;}
  .card-box-info{font-size: 12px; padding: 10px 20px; color: #fff; }
  .card-box-info p{font-size: 11px!important; font-weight: 500;}
  .card-footer{background-color: var(--secondary-color); border-radius: 0px; font-size: 12px; padding: 10px;}
.b1{padding: 5px 13px; border: 2px solid var(--white-color); border-radius: 30px; background-color: #fff; color: var(--primary-color); font-weight: 600; }
  .b2{background: var(--primary-color) ; padding: 5px 16px; border-radius: 30px; border-radius: 30px; color: var(--white-color); border-style: none;}

  .btn1{font-size: 13px; padding: 5px 10px; color: var(--primary-color); border: 2px solid var(--primary-color); border-radius: 5px;}
  .btn2{font-size: 13px; padding: 5px 10px; background-color: var(--primary-color); border: 2px solid var(--primary-color); border-radius: 5px; color: var(--white-color);}


  /* Style the tab content */
  .content{margin:0px 80px!important;}
  .tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none; 
  }
  
  /* Style the close button */
  .topright {
	float: right;
	cursor: pointer;
	font-size: 28px;
  }
  
  .topright:hover {color: red;}


/* end programs */

/* about */

#about {
	text-align: center; line-height: 1.3;
}
#about h2 {
	font-size: 30px;
	font-weight: bold;
	color: #fff;
}
#abt-ct{background-color: #000; padding: 0px 0px 50px 0px;}
#about p {
	font-size: 14px; padding: 5px 50px;
    justify-content: center; color: #fff;
}

.image-overlay {
  position: relative;
  overflow: hidden;
  height: auto;
}

.image-overlay img {
  width: 100%;
  height: auto;
  display: block;
}

.image-overlay::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; /* adjust as needed */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 2) 100%);
  pointer-events: none;
}

.adv-cnt {
			color: white;
			padding: 10px 30px; text-align: center;
			position: absolute; 
		}
.adv-cnt h2{font-size: 18px; font-weight: 600;
			padding-bottom: inherit;}
		.adv-cnt p {font-size: 13px;}
	  
/* Courses */


#certificate{background-color: #f6f6f6; padding: 50px 10px;}
#certificate h2{font-weight: 600; color: var(--dark-blue); font-size: 30px;}
.cer1 h3{font-size: 17px; padding: 10px 0px;}

.cer2{display: flex; background-color: #ffef97; padding:0px 20px; border-radius: 10px;}
.cer2 img{width: 250px; max-width: 100%; object-fit: cover;}
/* .cer2 img{width: 300px;} */

.degree-btn{background-color: var(--secondary-color); padding: 10px 30px; border-radius: 30px; color: #fff; border-style: none;}


#advantage{padding: 50px 30px; background-color:var(--secondary-color);}
#advantage h2 {
  display: table;
  text-align: center;
  color: #fff;
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 10px;
  max-width: 100%;
   margin: 0 auto;
}
/* .bulb-icon {
  font-size: 50px;
  color: #ffd700;
  padding: 10px;
  border: 2px solid #ffd700;
  border-radius: 50%;
  background-color: #fffbe6;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
} */

#advantage .item{background-color: #fff; text-align: center; padding: 20px; border-radius: 10px; height: 230px;}
.item h3{font-size: 14px; font-weight: 600; padding: 8px;}
.item p{font-size: 13px; line-height:1.2;}
/* footer */
.doubt{padding: 30px 30px;
	background-color: #202020;
	color: #fff; font-size: 20px; margin-bottom: -10px;
	} 
.doubt h2{font-weight: 600;}



#footer {
	padding: 30px 30px;
	background-color: #f7f7f7;
}


#footer h2 {
	font-size: 20px; font-weight: 600; margin-bottom: 20px;
}

#footer p {
	font-size: 13px; 
}
.footer-enquiry {
  display: flex;
  justify-content: space-around; /* Or space-around */
  align-items: center; /* ✅ Vertically center elements */
 flex-wrap: wrap;     /* ✅ Ensures mobile responsiveness */
  padding: 10px 0;
}

/* .footer-enquiry .ftr {
  flex: 1;
} */

.footer-enquiry button.degree-btn {
  height: auto; /* ✅ Prevents full height */
  align-self: center; /* ✅ Prevents stretching */
  padding: 10px 25px;
  white-space: nowrap; /* Optional: avoid breaking the text */
  color: #fff;
}


#footer-bottom-bar {
	padding: 10px;
	font-size: 13px;
	color: #000;
	text-align: center;
}

.accordion {
	background-color: #fff;
	color: #000;
	font-weight: 500;
	cursor: pointer;
	padding: 10px 10px 10px 20px;
	width: 100%;
	border: 1px solid #ccc;
	text-align: left;
	outline: 0;
	font-size: 15px;
	transition: 0.4s;
	margin-top: 10px;
	border-radius: 10px;
}
.adm-head, .close, .ftr-h {
	font-weight: 700;
}
#accordition .active {
	border-radius: 10px 10px 0 0;
	background-color: #A13341 !important;
	color: #fff!important;
}

#accordition h2{color: var(--primary-color); font-weight: 600; text-align: center;}
.panel {
	padding: 0px 20px;
	background-color: #f6f6f6;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	font-size: 13px;
}
.cont{padding: 10px;}
.accordion:after {
	border-style: none;
	content: "\02795";
	font-size: 10px;
	color: #fff !important;
	float: right;
	margin-left: 5px;
}
.accordion.active:after {
	content: "\2796";
	color: #369;
}

.about-text {
	margin: 30px 0px;
}

.modal {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	/* height: auto; */
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: transparent !important;
	margin: 5% auto;
	border-style: none;
	width: 400px;
}

/* Close button style */
.close {
	color: #fff;
	/* width: 40px; */
	float: right;
	/* padding: 0px 8px; */
	/* padding-left: 10px; */
	font-size: 28px;
	position: absolute;
	font-weight: bold;
	color: #707070;
	margin-left: 87%;
	padding: 0px 5px;
	margin-top:20px;

}

.close:hover,
.close:focus {
	color: red;
	text-decoration: none;
	cursor: pointer;
}

.modal-content {
	background-color: transparent;
	margin: 5% auto;

	width: 35%;
}


@media (max-width: 480px) {

	section {
		margin: 30px 0px 30px 0px;
		padding: 20px 10px;
	}

	.top-banner {
	 background-image: url(../images/mobile-image.webp); 
		 background-size: contain; 
		padding: 20px;
	}

	#main-content {
		padding: 10px;
	}
	
	#main-content h1 {
		color: var(--white-color)!important;
		font-size: 25px !important;
		font-weight: 700;
	}

    #main-content h2 {
        font-size: 30px!important;
        color: #fff;
        padding: 0px 0px 0px 10px;
        width: 300px;
        font-weight: 600;
    }


	#main-content p {
		font-size: 15px;
		
	}

  .topbtn {
    background-color: #fff;
    border-style: none;
    padding: 10px 10px;
    color: #bb2626;
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    margin: 20px 0px;
  }

	.top-rec {
		display: flex;
        font-weight: 600;
        justify-content: space-between;
        width: 350px;
    }

	/*program*/

	.card-box { margin-bottom: 20px; border-radius: 10px;}

	.card-box-info h2{font-size: 20px;}
	.card-box-info p{font-size: 15px!important;}
	
	.b1 {
		padding: 5px 25px;
		border: 2px solid var(--white-color);
		border-radius: 30px;
		background-color: #fff;
		color: var(--primary-color);
		font-weight: 600;
	}

	.b2 {
		background: none;
		padding: 5px 25px;
		border: 2px solid var(--white-color);
		border-radius: 30px;
		border-radius: 30px;
		color: var(--white-color);
	}

	.card-footer {
		background-color: var(--primary-color);
		border-radius: 0px;
		font-size: 12px;
		padding: 10px 30px;
	}
	/* about */
	/* #about{padding: 20px;} */
	#about p{padding: 5px 20px;}
#advantage {
    padding: 50px 20px;
    background-color: var(--secondary-color);
}

.cer2 {
	display: inline-block; margin-top:50px;
}
	#advantage h2{font-size:22px;}
.cer2 img{width: 300px;}
    .contain {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
      }
      
	  .item {
        align-items: center;
        background-color:white!important;
        color: #000;
        /* height: 300px; */
        justify-content: center;
        display: block;
    }

      .item h3{font-size: 15px!important;}
      .item p{font-size: 13px;}
.owl-nav .owl-prev, .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.owl-nav .owl-prev {
    left: -25px;
}

.owl-nav .owl-next {
    right: -25px;
}

.owl-nav i {
    font-size: 18px;
}


	/* start footer */
	
		.doubt{font-size: 15px;}
	#footer {
		padding: 30px 30px;
		background-color: #f7f7f7;
		color: #000;
	}

	#footer h2 {
        font-size: 18px;
        margin-top: 20px;
    }
	.ftr{text-align: center; margin-bottom: 10px;}

	.ftr-btn {
		margin-top: 10px;}
		
	#footer-bottom-bar {
		padding: 10px;
		font-size: 13px;
		color: #000;
		text-align: center;
	}

	

	.modal {
		display: none;
		position: fixed;
		/* z-index: 1; */
		left: 0;
		top: 0;
		width: 100%;
		/* height: auto; */
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.4);
		transition: opacity 0.5s ease-in-out;
	}

	.modal-content {
		margin: 35% auto;
		/* padding: 20px; */
		width: 83%;
		background-color: transparent;
		border-style: none;
	}

	/* Close button style */
	.close {
		color: #aaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
		position: absolute;
		margin-left: 88%;
		margin-top: 5px;
	}

	.close:hover,
	.close:focus {
		color: red;
		text-decoration: none;
		cursor: pointer;
	}

	a {
		color: #0d6efd;
		/* text-decoration: underline; */
		text-decoration: none;
	}

	video {
		margin-bottom: -10px;
	}

	.modal-content {
		width: 100%;

	}


}
.owl-dots {
	text-align: center;
	padding-top: 15px;
  }
  .owl-dots button.owl-dot {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: inline-block;
	background-color: rgba(51, 51, 51, 0.38) !important;
	margin: 0 3px;
  }
  .owl-dots button.owl-dot.active {
    background-color: #000 !important;
}
  .owl-dots button.owl-dot:focus {
	outline: none;
  }
  .owl-nav button {
	  position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
	  background: rgba(255, 255, 255, 0.38) !important;
  }
  .owl-nav button:focus {
	  outline: none;
  }