/* .topnav {
    overflow: hidden;
    background-color: #fff;
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  } */

  dl, ol, ul {
    margin-top: 0;
  margin-bottom: 0px!important; 
}


  .nav {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 15px;
    position: fixed;
    top: 0;
   z-index:99;
    box-shadow:0 0 5px 2px #ccc;
  }
  .nav > .nav-header {
    flex: 0.95;
    padding-left: 1rem;
  }
  .nav > .nav-header > .nav-title {
    margin-left: 6rem;
  }
  .logo{width: 30%;}
  .nav > .nav-list {
    display: flex;
    gap: 2rem;
    margin-right:3rem;
  }
  .nav > .nav-list > li {
    list-style-type: none;
  }
  .nav > .nav-list > li a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    font-weight: bold;
  }

  .nav > .nav-list > li a:hover {
    text-decoration: none;
    color: #d11c1f;
    cursor: pointer;
    font-weight: bold;
  }
  .nav > #nav-check {
      display: none;
  }
  @media (max-width: 480px) {
    
    .nav {
      padding: 1rem;
      position: fixed;
      top: 0;
  }
    .nav > .nav-header > .nav-title {
        margin-left: 0px;
      }

    .logo{width: 80%;}
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      padding-top: 1.5rem;
      padding-right: 10px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      padding: 10px 8px 5px 8px;
      background-color: #1A237E;
      border-radius: 5px;
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 20px;
        height: 8px;
        border-top: 2px solid #eee;
    }
    .nav > .nav-list {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      background-color: #1A237E;
      height: 0;
      transition: all 0.3s ease-in;
      top: 90px;
      left: 0;
      overflow: hidden;
      
    }
    .nav > .nav-list > li {
      width: 100%;
      margin-top: 1.5rem;
      color: #fff;
    }

    .nav > .nav-list > li > a {
        color: #fff;
      }
    .nav > #nav-check:checked ~ .nav-list {
      height: calc(50vh - 0px);
    }
  }