/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{margin: 0px; padding: 0px;}
body{ font-family:'poppins', sans-serif !important; scroll-behavior: smooth;}
html{scroll-padding-top: 100px;}

label {
    display: inline-block;
   margin-bottom: 2px!important;
}

section{padding: 30px 0px 30px 0px;}
p {
    margin-top: 0;
    margin-bottom: 10px!important; font-size: 13px;
}
.iti{width: 100%;}
hr {
    margin: 0.5rem 0!important;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
}
h2{color: #d11c1f!important; font-weight: bold!important; font-size: 33px!important;}
.black{color: black; font-weight: bold;}
#topsec{background-image: url(img/CU-BGtest.png);
    background-size: cover!important; 
    background-repeat: no-repeat!important;  margin-top: 80px;}
.top-cnt{margin-top: 50px;}
.top-cnt p{line-height:1.3; font-size:14px; margin-top:10px; margin-bottom: 10px!important;}
.model-img{margin-bottom: -50px!important;}
.top-btn{padding: 10px 20px; border: 1px solid #d11c1f!important; font-weight: bold;}

#whychoose{background-color: #e6e6e6;}
.choose-image{width: 20%; float: left;}
.box-choose{background-color: #fff; padding: 30px; margin: 20px 20px; border-right: 5px solid #56698F!important;}
.box-choose2{background-color: #fff; padding: 30px; margin: 20px 20px; border-left: 5px solid #56698F!important;}
.box-choose h5{color: #d11c1f; font-size:20px; font-weight:600;}
.box-choose2 h5{color: #d11c1f; font-size:20px; font-weight:600;}
.box-choose p{font-size:13px;}
.box-choose2 p{font-size:13px;}



/* Program */
#programs{margin:20px;}

#programs h3{text-align:center!important;}
    .tabbtn{width:400px; margin:auto!important; justify-content:center!important; display:flex;}
.tabbutton{background-color: #e6e6e6; padding: 15px 20px; border-style: none; color: #000; margin: 10px; font-weight: 500; border-radius: 10px;}
.TabButtonActive{background-color: #d11c1f; color: #fff; font-weight: 500;}
.course-box{margin: 20px; box-shadow: 0 0 5px 2px #ccc!important; border-radius: 10px;}
.cr-img{width: 100%;}
.thh{font-weight: bold;}
.tdd{margin-left:30px;}
.badge{background-color: green; float: right;}
.cr-desc h4{font-weight: bold!important; margin-bottom: 0px; font-size: 40px;}
.cr-desc{margin: 0px 20px 10px 20px; padding: 10px;}
.course-btn{background-color: #d11c1f; border-radius: 5px; margin: 5px 0px 5px 0px; color:#fff; border-style: none; padding: 10px 20px; width: 100%;}
#about{background-color: #1f2846!important; color: #fff;}
#about h3{color: #fff; font-size: 40px; font-weight: bold;}
#abt-cnt p{font-weight:300!important;}
.abt-cnt{margin-top: 90px;}
/* Form */
#form{background-color: #fff!important; padding: 20px; margin: 10px; box-shadow: 0 0 5px 2px #9b9a9a; border-radius: 10px!important;}
.frm-heading{text-align: center; color: #d11c1f; font-weight: bold; }
.sub-btn{padding: 10px 30px; width: 100%; background-color: #d11c1f; border-radius:10px; border-style: none; color: #fff;}
.form-control{margin-bottom: 10px;}

#achievements{background-color: #d11c1f; color: #fff;}
#achievements h3{font-size: 50px; font-weight: bold;}
#value{font-weight: bold;}


.cer-cnt{margin-top: 60px!important;}
.enroll-btn{padding: 10px 40px;     margin: 20px 0px; border-style: none; background-color: #d11c1f; color: #fff; border-radius: 20px; }

#approvals{background-color: #e6e6e6; padding: 50px 0px; text-align: center;}
#approvals h3{color: #d11c1f; font-weight: bold;}
.apr-hp{color: #000; text-align: center; font-size:18px;}
.apr-img{width: 100%;}
.box-apr{background-color: #fff!important; border-radius: 20px; padding: 30px;}
.box-apr p{font-size:12px;}

#footer{background-color:#333!important; color: #cdcdcd!important;}
#footer h5 {
    color: #ffffff;
    margin-top: 30px;
}

/*faqs  start  */
#faqs {
  margin: 50px 10px;
}
#faqs h2 {
  color: #08417b;
  font-weight: 600;
  margin-left: 5px;
}

.accordionItem {
  float: left;
  display: block;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.accordionItemHeading {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 20px 10px;
  color: #000;
  width: 100%;
}
.close .accordionItemContent {
  height: 0px;
  transition: height 1s ease-out;
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  float: left;
  display: block;
  font-size: 14px;
}
.open .accordionItemContent {
  padding: 10px;
  background-color: #fff;
  width: 100%;
  margin: 0px 0px 10px 0px;
  display: block;
  font-size: 14px;

  -webkit-transition: -webkit-transform 0.4s ease-out;
  -o-transition: -o-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  transition: transform 0.4s ease;
  box-sizing: border-box;
}

.open .accordionItemHeading {
  margin: 0px;
}


.modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  z-index: 1;
}
.modal-content {
  display: flex;
  justify-content: center;
  width: 350px !important;
  height: 100vh;
  margin: auto !important;
  background: none !important;
  border-style: none !important;
  background-color: rgba(0, 0, 0, 0.4);
}
/*.close {
  color: #fff;
  width: 40px;
  float: right;
  padding-left: 10px;
  font-size: 28px;
  background-color: #707070;
}*/
.close-popup {
  float: right;
  font-size: 1em;
  color: #f7f7f7;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  padding: 2px 10px;
  border-radius: 100%;
  margin-top: -10px;
	background:#000;
}
.close-popup:focus,
.close-popup:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
/*faqs  end  */



@media only screen and (max-width: 600px) {
    section{padding: 30px 0px 30px 0px;
    }
    h2{color: #d11c1f!important; font-weight: bold!important; font-size: 25px!important;}
    .black{color: black; font-weight: bold;}
    #topsec{background-image: url(img/CU-BG-copy.png);
        background-size: cover!important; 
        background-repeat: no-repeat!important; padding: 20px;}
        
        #topsec p{font-size:14px;}
    .top-cnt{margin-top: 20px;}
    
    .model-img{margin-bottom: -80px;}
    .top-btn{padding: 10px 20px; border: 1px solid #d11c1f!important; font-weight: bold;}
    
    #whychoose{background-color: #e6e6e6;}
    .choose-image{width: 30%; padding-bottom: 30px;}
    .box-choose{background-color: #fff; padding: 10px 10px 5px 10px; margin: 20px 10px; border-right: 5px solid #56698F!important;}
    .box-choose2{background-color: #fff; padding: 10px 10px 5px 10px; margin: 20px 10px; border-left: 5px solid #56698F!important;}
    .box-choose h5{font-size: 16px; color: #d11c1f;}
    .box-choose2 h5{font-size: 16px; color: #d11c1f;}
    .box-choose p{font-size: 13px;}
    
    /* Program */
#programs h3{font-size:20px;}
    .tabbtn{width:320px; margin:auto!important; justify-content:center!important; display:flex;}
    .tabbutton{background-color: #e6e6e6; width: 160px; padding: 15px 5px; border-style: none; color: #000; margin: 5px; font-weight: 500; border-radius: 10px;}
    .TabButtonActive{background-color: #d11c1f; width: 160px; color: #fff; font-weight: 500;}
    .course-box{margin: 10px; box-shadow: 0 0 5px 2px #ccc!important; border-radius: 10px;}
    .cr-img{width: 100%;}
    .thh{font-weight: bold;}
    .tdd{margin-left:30px;}
    .badge{background-color: green; float: right;}
    .cr-desc h4{text-align: left; font-weight: bold; margin-bottom: 0; font-size: 40px;}
    .cr-desc{margin: 0px 20px 10px 20px; padding: 10px;}
    .course-btn{background-color: #d11c1f; border-radius: 5px; margin: 10px 0px 10px 0px; color:#fff; border-style: none; padding: 10px 20px; width: 100%;}
    #about{background-color: #1f2846!important; color: #fff; padding:20px;}
    .abt-cnt p{font-size:13px;}
    #about h3{color: #fff; font-size: 27px; font-weight: bold;}
    .abt-cnt{margin-top: 20px;}
    /* Form */
    #form{background-color: #fff!important; padding: 20px; margin-top: 50px; box-shadow: 0 0 5px 2px #9b9a9a; border-radius: 10px!important;}
    .frm-heading{text-align: center; color:#d11c1f; font-weight: bold; }
    .sub-btn{padding: 10px 30px; width: 100%; background-color: #d11c1f; border-radius:10px; border-style: none; color: #fff;}
    .form-control{margin-bottom: 10px;}
    
    #achievements{background-color: #d11c1f; color: #fff; display: flex; padding: 10px;}
    #achieve-box{width: 50%; padding: 10px;}
    #achievements h3{font-size: 30px; font-weight: bold;}
    #value{font-weight: bold;}
    
    
    .cer-cnt{margin-top: 60px!important; padding:20px;}
    .cer-cnt p{font-size:13px;}
    .enroll-btn{padding: 10px 40px; margin: 20px 0px; border-style: none; background-color: #d11c1f; color: #fff; border-radius: 20px; }
    
    #approvals{background-color: #e6e6e6; padding: 50px 0px; text-align: center;}
    
    #approvals h3{color: #d11c1f; font-weight: bold; font-size: 30px;}
    .apr-hp{color: #000; text-align: center;}
    .apr-img{width: 50%;}
    .box-apr{background-color: #fff!important; border-radius: 20px; padding: 10px; margin: 20px;}
    
    #footer{background-color:#333!important; color: #cdcdcd!important; font-size:13px; padding: 20px;}
    #footer h5{color: #fff;}


    /*faqs  start  */
  #faqs {
    padding: 10px;
  }
  #faqs h2 {
    color: #08417b;
    font-weight: 600;
    font-size: 22px;

    margin-bottom: 30px;
  }

  .accordionItem {
    float: left;
    display: block;
    width: 100%;
    border-bottom: 1px solid #ccc;
  }
  .accordionItemHeading {
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    color: #000;
    width: 100%;
  }
  .close .accordionItemContent {
    height: 0px;
    transition: height 1s ease-out;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    float: left;
    display: block;
    font-size: 14px;
  }
  .open .accordionItemContent {
    padding: 10px;
    background-color: #fff;
    width: 100%;
    margin: 0px 0px 10px 0px;
    display: block;
    font-size: 12px;

    -webkit-transition: -webkit-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease;
    -ms-transition: -ms-transform 0.4s ease;
    transition: transform 0.4s ease;
    box-sizing: border-box;
  }

  .open .accordionItemHeading {
    margin: 0px;
  }

  .modal {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    z-index: 1;
  }
  .modal-content {
    display: flex;
    justify-content: center;
    width: 350px !important;
    height: 100vh;
    margin: auto !important;
    background: none !important;
    border-style: none !important;
    background-color: rgba(0, 0, 0, 0.4);
  }
  /*.close {
  color: #fff;
  width: 40px;
  float: right;
  padding-left: 10px;
  font-size: 28px;
  background-color: #707070;
}*/
  .close-popup {
    float: right;
    font-size: 1em;
    color: #f7f7f7;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
    padding: 3px 10px;
    border-radius: 100%;

    margin-top: 30px;
  }
  .close-popup:focus,
  .close-popup:hover {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }
  }
  
  select.form-control{
    -webkit-appearance: menulist!important;
    -moz-appearance: menulist!important;
    -ms-appearance: menulist!important;
    -o-appearance: menulist!important;
    appearance: menulist!important;
}

.c15 {
    margin-top: -10px;
}
.accordionItemContent {
  display: none;
}

.accordionItem.open .accordionItemContent {
  display: block;
}

.accordionItemHeading::after {
  content: "+";
  float: right;
  font-size: 19px;
  color: #08417b;
}

.accordionItem.open .accordionItemHeading::after {
  content: "-";
  float: right;
  font-size: 19px;
  color: #08417b;
}
.disclaimer_popup{color: #011bfe; font-size: 12px; text-decoration: underline; cursor:pointer;}