@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
	margin: 0px;
	padding: 0px;
}



body {height: 100%;width: 100%; font-family:'poppins', sans-serif !important; overflow-x: hidden!important;  scroll-behavior: smooth; transition: 2s;}

html{scroll-padding-top: 80px;  overflow-x: hidden!important;  scroll-behavior: smooth;}



label {
	display: inline-block;
	margin-bottom: 0rem !important;
}


.heading {
	font-weight: bold;
	text-align: center;
}

.owl-carousel {
	display: block !important;
}

#btn {
	background-color: green;
	border-style: none;
	padding: 10px 20px;
	color: #fff;
	margin: 10px;
}

h1 h2 h3 h4 h5 h6 {
	color: #002261;
}

.fa {
	font-size: 40px;
	padding-right: 10px;
	color: #085D9C;
}

.top-btn {
	padding: 10px 30px;
	background-color: #09b30e;
	color: #fff;
	border-style: none;
	border-radius:7px;;
	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sp-text {
	color: #0970B8;
}

.top-sp-text {
	color: #82C7ED;
}
 
.divider{color:#ff6600;}

/*.course-topbar{background-color:#ffb94c; padding:10px; line-height:1.8px; color:#000; width:90%; font-size:10px;}*/
.t1{background-color:;}
.pink-bg{background-color:#f06; padding:5px 10px; border-radius: 5px;}

.container {
	/* width: 100%; */
	max-width: 1050px;
	margin: auto;
	padding: 0px 0px;
  }


	
	#DIPLOMAtab table {
		margin-top: 12px;
	}

	#a4 {
		margin-top: 10px;
	}

	.faqhide {
		display: none;
	}

	section {
		margin: 50px 0px;
	}

	#demo {
		font-size: 20px;
		color: #fff;
	}


	.content-item {
		padding: 30px;
		margin-top: 40px;
		    margin-bottom: 40px;
		color: #fff;
	}

	.content-item p {
		font-size: 19px;
	}

	.content-item h2 {
		font-size: 25px;
		font-weight: 500;
		color: #fff;
		line-height:1.8;
		/*text-shadow: 1px 2px 2px #fff;*/
	}

	.content-item h3 {
		font-size: 18px;
		font-weight:bold;
		color: #000;
		line-height:1.8;
		background-color:#ffc72a;
		width:75%; padding:2px 20px; 
	}
	#laptop {
		background-image: url(../img/laptop2.webp);
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: 90px;
	}

	video {
		width: 80%;
		height: 250px;
		margin-left: 52px;
		margin-top: 60px;
	}

	#demo {
		white-space: pre-wrap;
	}


	#topbar{background: url("../img/degree-img2.webp"); -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; background-repeat: no-repeat; width:100%;}

	#university h4 {
		text-align: center;
	}

	.university-logo {
		margin: 10px;
	
	}


	#approvals p {
		text-align: center;
		line-height: 1.3em;
		color: #000;
		padding: 5px;
		font-size: 14px;
	}

	#approvals h3 {
		font-weight: bold;
		color: #085D9C;
		text-align: center;
	}

	#approvals h4 {
		color: #000;
		text-align: center;
		font-size: 18px;
	}

	/*programme section */

	#Programmes h3 {
		text-align: center;
	}

	#tab-section {
		justify-content: center !important;
	}

	.tabButton {
		padding: 10px 40px;
		color: #000;
		background: none;
		border: 2px solid #085D9C;
		margin: 10px;
	}

	.tabButtonActive {
		padding: 10px 40px;
		color: #000;
		background-color: #085D9C;
		color: #fff;
		border-style: 1px solid #085D9C;
	}


	.card {
		box-shadow: 0 0 5px 2px rgba(204, 204, 204, 0.4);
		border-style: none !important;
		border-radius: 4px !important;
		padding: 0px 0px 0px 10px;
		margin-top: 30px;
	}

	.pp-cr {
		font-size: 14px;
	}

	.card .td1 {
		width: 40% !important;
		padding: 0px;
		margin: 0px !important;
	}

	.card .td2 {
		width: 60% !important;
		padding: px 0px 10px 0px;
	}

	.card h4 {
		font-size: 20px;
		font-weight: bold;
		padding-top: 10px;
	}

	.card p {
		font-size: 13px;
	}

	.cr-img {
		width: 80%;
		padding: 0px;
		margin-top: -10px;
	}

	#left-cr {
		padding: 5px;
		font-size: 13px;
	}

	.right-cr {
		float: right;
		color: #FF0066;
		font-size: 13px;
	}

	.right-cr button {
		padding: 5px 15px;
		margin: 0px 10px 10px 10px;
		background-color: green;
		border-style: none;
		color: #fff;
		border-radius: 5px !important;
	}

	.badge {
		background-color: #085D9C;
		color: #fff;
		border-radius: 0px 0px 0px 10px !important;
		float: right;
		padding: 10px !important;
	}

	.badge .fa {
		color: #fff;
	}

	.diploma-card {
		width: 100%;
	}


	#diploma-box {
		width: 600px;
	}

	#diploma-box h6 {
		color: #000;
	}

	#diploma-box .card {
		padding-left: 50px;
	}

	.diploma-course-btn {
		padding: 5px 20px;
		background-color: green;
		color: #fff;
		border-style: none;
	}

	#diploma-box .badge {
		float: right !important;
		margin-left: 20px;
		margin-left: 20px;
	}

	/*Reason section*/
	#reason {
		background-color: #085D9C;
		padding: 50px;
	}

	#reason h3 {
		color: #fff;
		text-align: center;
	}
	.tt{vertical-align: -webkit-baseline-middle;}
	.reason-box {
		background-color: #fff;
		padding: 0px 20px 20px 20px;
		margin: 20px;
		border-radius: 5px 5px 5px 30px;
	}
.reason-box h4 {
		font-size: 22px;
		font-weight: 600;
		display:inline-block;
		
	}
	.batch-num {
		width: 12%;
		color: #fff;
		padding: 10px 0px;
		border-radius: 5px;
		margin-top: -10px !important;
		display: inline-block;
	}

	.batch-num {
		width: 0;
		border-right: 29px solid #0970b8;
		border-left: 25px solid #0970b8;
		border-top: 5px solid #0970b8;
		border-bottom: 10px solid transparent;
	}

	.reason-box p {
		font-size: 14px;
	}


	/*features*/
	#feature {
		background-color: #fff;
	}

	#feature-box {
		text-align: center;
		padding: 30px 20px;
		font-size: 13px;
		box-shadow: 0 0 5px 3px rgba(205, 205, 205, 0.3);
		margin: 10px;
		border-radius: 10px;
		transition: 0.4s;
	}

	#feature-box:hover {
		margin-top: -20px;
	}

	.feature-p {
		font-size: 14px;
		text-align: center;
	}


	/*whychoosesection*/
	#whychoose {
		background-color: #0970b8;
		color: #fff;
		padding: 50px 40px;
		text-align: center;
	}

	#whychoose h3 {
		font-weight: bold;
		font-size: 50px;
	}

	#whychoose p {
		font-size: 13px;
	}


	/*news section*/
	#news {
		background-color: #f7f7f7;
		padding: 30px;
	}

	#news h3 {
		text-align: center;
		font-weight: bold;
		color: #085D9C;
		margin-bottom: 40px;
	}

	#news p {
		font-size: 13px;
		padding-top: 10px;
	}

	.news-logo {
		height: 25px;
		width: auto;
	}

	.btn1 {
		background-color: #FF6600;
		padding: 10px 30px;
		color: #fff;
		border-style: none;
		border-radius: 30px;
	}

	/*end news section*/


	/*FORM-section*/
	#form {
		padding: 30px;
		box-shadow: 0px 0px 5px 2px rgb(0, 0, 0, 0.5);
		margin: 30px;
		margin-top:60px;
	}

	.frm-heading {
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		margin-top: -18px;
	}

	.form-control {
		line-height: 1.2;
		background-color: #eBeBeB !important;
		border-style:none!important;
		    font-size: 0.75em;
	}

	.sub-btn {
		background-color: #FF6600;
		padding: 10px 50px;
		border-style: none;
		color: #fff;
		width: 100%;
	}


	/*faqs*/
	#faqs h3 {
		font-weight: bold !important;
		color: #085D9C;
	}

	#container-box {
		padding: 20px;
		width: 100%;
	}

	.accordion {
		background-color: #fff;
		color: #085D9C;
		font-weight: bold;
		cursor: pointer;
		padding: 10px 8px 18px 20px;
		width: 100%;
		border: 2px solid #085D9C;
		text-align: left;
		outline: none;
		font-size: 15px;
		transition: 0.4s;
		margin-top: 10px;
		padding-bottom: 10px;
		padding-right: 10px;

		border-radius: 10px;
	}

	.accordion .active {
		border-radius: 10px 10px 0px 0px;
	}

	.panel {
		padding: 0px;
		background-color: #fff;
		max-height: 0;
		overflow: hidden;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		transition: max-height 0.2s ease-out;
		background-color: #f7f7f7;
		border-radius: 8px;
		margin-top: 10px;

	}

	.accordion:after {
		border-style: none;
		content: '\02795';
		/* Unicode character for "plus" sign (+) */
		font-size: 10px;
		color: #fff !important;
		float: right;
		margin-left: 5px;


	}

	.accordion.active:after {
		content: "\2796";
		/* Unicode character for "minus" sign (-) */
	}

	.panel p {
		padding: 14px 20px 2px 20px;
	}

	.cont {
		padding: 20px 10px;
	}


	/*
	talk section*/

	.head-bottom {
		color: #FF0066;
		font-size: bold;
	}


	/*start-footer-frm*/
	#footer {
		background-color: #05163D !important;
		padding: 50px 20px 20px 20px;
		color: #fff;
		font-size: 13px;
		width: 100%;
	}


	#cnt-frm {
		box-shadow: 0 0 2px 5px #f9f9f9;
		padding: 0px;
		background-image: url("assets/img/for popup.png");
	}

	.ftr-h {
		color: #0970b8;
		font-size: 18px;
	}

	.footer-btn {
		padding: 8px 40px;
		border: 2px solid #FF6600;
		background: none;
		color: #fff;
		margin-top: 40px;
	}

	.footer-btn:hover {
		background-color: #FF6600;
		color: #fff;
	}

	.copyright {
		text-align: center;
		background-color: #085D9C;
		color: #fff;
		padding: 10px;
	}

	#frm-bottom {
		margin-left: 0px;
	}

	.review-img {
		width: 80%;
	}

	#footer hr {
		background-color: #0970b8;
	}


@media only screen and (max-width: 450px) {

	
	.content-item {
		padding: 20px;
		/* margin-top: 30px; */
		 margin-bottom: 150px;
		color: #fff;
		text-align: center;
	}
	

	.content-item h2 {
		font-size: 18px;
		font-weight: 500;
		color: #fff;
		margin-top: -13px;
		line-height:1.7;
	}
		.content-item h3 {
		font-size: 16px;
		font-weight:bold;
		color: #000;
		line-height:1.8;
		background-color:#ffc72a;
		width:100%; padding:2px 20px; 
	}
	
/* 
	.content-item p {
	
		    padding: 35px 30px 10px 0px!important;
	} */

	#laptop {
		background-image: url(../img/laptop2.webp);
		background-size: cover!important;
		background-repeat: no-repeat;
		/* margin-top: -15px; */
		padding-bottom: 20px;
	}

	video {
		width: 81%;
		height: 260px;
		margin-left: 37px;
		margin-top: 2px;
	}

	#demo {
		white-space: pre-wrap;
	}
	#mobile-btn{margin-top:-20px;}
	.top-btn{ border-radius:5px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#topbar{background: url("../img/mobile-image1.webp"); background-size: cover; background-repeat: no-repeat; background-position: center bottom;}
	
	#university{margin-left:10px; margin-right:10px;}
	#university h4 {
		text-align: center;
		font-size: 15px;
	}

	.university-logo {
		margin-top: 10px;
		margin-bottom:15px;
		margin-left:5px;
		margin-right:5px;
	}

	#university-all-logos {
		width: 50%;
		display: inline-flex;
	}
	#approvals{margin-top:40px;}
	#approvals p {
		text-align: center;
		line-height: 1.3em;
		color: #000;
		padding: 5px;
		font-size: 12px;
	}

	#approvals h3 {
		font-weight: bold;
		color: #085D9C;
		text-align: center;
		font-size: 20px;
	}

	#approvals h4 {
		color: #000;
		text-align: center;
		font-size: 18px;
	}


	/*programme section */
	#Programmes h3 {
		font-size: 20px !important;
		text-align: center;
	}

	#tab-section {
		justify-content: center !important;
	}

	.tabButton {
		padding: 10px 20px;
		color: #000;
		background: none;
		border: 2px solid #085D9C;
		margin: 10px;
	}

	.tabButtonActive {
		padding: 10px 20px;
		color: #000;
		background-color: #085D9C;
		color: #fff;
		border-style: 1px solid #085D9C;
	}


	.card {
		box-shadow: 0 0 5px 2px rgba(204, 204, 204, 0.4);
		border-style: none !important;
		border-radius: 4px !important;
		padding: 0px 0px 0px 10px;
		margin-top: 30px;
		margin: 10px;
	}

	.pp-cr {
		font-size: 14px;
	}

	.card .td1 {
		width: 40% !important;
		padding: 0px;
		margin: 0px !important;
	}

	.card .td2 {
		width: 60% !important;
		padding: px 0px 10px 0px;
	}

	.card h4 {
		font-size: 20px;
		font-weight: bold;
		padding-top: 10px;
	}

	.card p {
		font-size: 13px;
	}

	.cr-img {
		width: 80%;
		padding: 0px;
		margin-top: -10px;
	}

	#left-cr {
		padding: 5px;
		font-size: 13px;
	}

	.right-cr {
		float: right;
		color: #FF0066;
		font-size: 13px;
	}

	.right-cr button {
		padding: 5px 15px;
		margin: 0px 10px 10px 10px;
		background-color: green;
		border-style: none;
		color: #fff;
		border-radius: 5px !important;
	}

	.badge {
		background-color: #085D9C;
		color: #fff;
		border-radius: 0px 0px 0px 10px !important;
		float: right;
		padding: 10px !important;
	}

	.badge .fa {
		color: #fff;
	}


	#diploma-box {
		width: 400px;
		margin: 20px;
	}

	#diploma-box h6 {
		color: #000;
	}

	#diploma-box .card {
		padding-left: 50px;
	}

	.diploma-course-btn {
		padding: 5px 20px;
		background-color: green;
		color: #fff;
		border-style: none;
	}

	#diploma-box .badge {
		float: right !important;
		margin-left: 20px;
		margin-left: 20px;
	}

	/*Reason section*/
		.tt{vertical-align: -webkit-baseline-middle;}
	
	#reason {
		background-color: #085D9C;
		padding: 30px 10px;
	}

	#reason h3 {
		color: #fff;
		text-align: center;
	}
		

	.reason-box {
		background-color: #fff;
		padding: 0px 20px 20px 20px;
		margin: 10px;
		border-radius: 5px 5px 5px 30px;
	}

	.reason-box h4 {
		font-size: 17px;
		font-weight: bold;
		display:inline-block;
		
	}

	.batch-num {
		width: 12%;
		color: #fff;
		padding: 10px 0px;
		border-radius: 5px;
		margin-top: -10px !important;
	display:inline-block;
	}

	.batch-num {
		width: 0;
		border-right: 23px solid #0970b8;
		border-left: 20px solid #0970b8;
		border-top: 5px solid #0970b8;
		border-bottom: 10px solid transparent;
	}

	.reason-box p {
		font-size: 12px;
	}


	/*features*/
	#feature {
		background-color: #fff;
		padding: 30px 10px;
	}

	#feature-box {
		text-align: center;
		padding: 30px 20px;
		font-size: 14px;
		box-shadow: 0 0 5px 3px rgba(205, 205, 205, 0.3);
		margin: 20px 20px;
		border-radius: 10px;
		transition: 0.4s;
	}

	#feature-box p {
		font-size: 14px;
	}

	#feature-box:hover {
		
	}

	#feature h3 {
		font-size: 30px;
	}
	

	.feature-p {
		font-size: 15px;
		text-align: center;
	}


	/*whychoosesection*/
	#whychoose {
		background-color: #0970b8;
		color: #fff;
		padding: 40px 10px;
		text-align: center;
	}

	#whychoose h2 {
		font-weight: bold;
		font-size: 30px;
	}

	#whychoose p {
		font-size: 13px;
	}

	#a1 {
		text-align: justify;
	}

	#number-box {
		width: 50%;
		margin-top: 10px !important;
	}

	#number-box h3 {
		font-size: 40px;
		font-weight: bold;
	}

	#number-box h6 {
		font-size: 14px;
	}

	/*news section*/
	#news {
		background-color: #f7f7f7;
		padding: 30px;
	}

	#news h3 {
		text-align: center;
		font-weight: bold;
		color: #085D9C;
		margin-bottom: 40px;
		font-size: 23px;
	}

	#news p {
		font-size: 13px;
		padding-top: 10px;
	}

	.news-logo {
		width: 30%;
	}

	.btn1 {
		background-color: #FF6600;
		padding: 10px 30px;
		color: #fff;
		border-style: none;
		border-radius: 30px;
	}

	/*end news section*/


	/*FORM-section*/
	#form {
		padding: 30px;
		box-shadow: 0px 0px 5px 2px rgb(0, 0, 0, 0.5);
		margin: 20px 10px;
	}

	#form p {
		margin-top: -5px;
		font-size: 14px;
		font-weight: bold;
	}

	.frm-heading {
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		color: #FF6600;
		margin-top: -20px;
	}

	.form-control {
		line-height: 1.2;
		background-color: #eBeBeB !important;
		border-style:none!important;
		    font-size: 0.75em;
	}
	.form-control:select placeholder{font-size:13px;}
	.sub-btn {
		background-color: #FF6600;
		padding: 10px 50px;
		border-style: none;
		color: #fff;
		width: 100%;
	}


	/*faqs*/

	#faqs h3 {
		font-weight: bold !important;
		color: #085D9C;
		font-size: 17px;
		padding: 20px;
	}

	#container-box {
		padding: 20px;
		width: 100%;
	}

	.accordion {
		background-color: #f7f7f7;
		color: #085D9C;
		font-weight: bold;
		cursor: pointer;
		padding: 10px 8px 18px 20px;
		width: 100%;
		border: 2px solid #085D9C;
		text-align: left;
		outline: none;
		font-size: 15px;
		transition: 0.4s;
		margin-top: 10px;

		border-radius: 10px;
	}

	.accordion .active {
		border-radius: 10px 10px 0px 0px;
		border: 2px solid #085D9C;
	}

	.panel {
		padding: 0px;
		background-color: #f7f7f7;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
		padding-right: 15px;
	}

	.accordion:after {
		border-style: none;
		content: '\02795';
		/* Unicode character for "plus" sign (+) */
		font-size: 10px;
		color: #fff !important;
		float: right;
		margin-left: 5px;


	}

	.accordion.active:after {
		content: "\2796";
		/* Unicode character for "minus" sign (-) */
	}

	.cont {
		padding: 20px 10px;
	}

	/*
	talk section*/

	.head-bottom {
		color: #FF0066;
		font-size: bold;
	}


	/*start-footer-frm*/
	#footer {
		background-color: #05163D !important;
		padding: 50px 20px 20px 20px;
		color: #fff;
		font-size: 13px;
		width: 100%;
	}

	.review-img {
		width: 50%;
	}

	#cnt-frm {
		box-shadow: 0 0 2px 5px #f9f9f9;
		padding: 0px;
		background-image: url("assets/img/for popup.png");
	}

	.ftr-h {
		color: #0970b8;
		font-size: 18px;
		margin-top: 10px;
	}

	.footer-btn {
		padding: 8px 40px;
		border: 2px solid #FF6600;
		background: none;
		color: #fff;
		margin-top: 40px;
	}

	.footer-btn:hover {
		background-color: #FF6600;
		color: #fff;
	}

	.copyright {
		text-align: center;
		background-color: #085D9C;
		color: #fff;
		padding: 10px;
	}

	#frm-bottom {
		margin-left: 0px;
	}

	#footer hr {
		background-color: #0970b8;
	}
}

/*.zoom {
transition: transform .4s;
width: 200px;
height: 200px;
margin: 0 auto;
box-shadow:0 0 5px 3px rgba(205, 205, 205, 0.3);
border-radius: 10px;
transition: top ease 0.5s;
}

.zoom:hover {
-ms-transform: scale(1.2); 
-webkit-transform: scale(1.2);
transform: scale(1.2); 
box-shadow: 10px 15px 10px -15px rgba(0, 0, 0, 0.3);
border-radius: 10px;
top: -10px;
}*/
.social-media .fa {
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
	padding: 8px;
}

.social-media .fa-facebook {
	padding: 10px 15px !important;
}


.fa:hover {
	opacity: 0.7;
}

.fa-facebook {
	background: #3B5998;
	color: white;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
}


.fa-linkedin {
	background: #007bb5;
	color: white;
}

.fa-youtube {
	background: #bb0000;
	color: white;
}

.fa-instagram {
	background: #125688;
	color: white;
}

.fa-pinterest {
	background: #cb2027;
	color: white;
}



.intl-tel-input {
  display: table-cell;
}
.intl-tel-input .selected-flag {
  z-index: 4;
}
.intl-tel-input .country-list {
  z-index: 5;
}
.input-group .intl-tel-input .form-control {
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
}

.hidden{display:none;}

/* Equal Heights for OwlCarousel 2 */
.owl-carousel{

    cursor: pointer;

  }

  .owl-carousel .owl-nav{
    overflow: hidden;
    height: 0px;
  }

  .owl-theme .owl-dots .owl-dot.active span, 
  .owl-theme .owl-dots .owl-dot:hover span {
      background: #ff7b5f;
  }
