* {
	margin: 0px;
	padding: 0px;
}


html {
	scroll-padding-top: 80px;
	overflow-x: hidden !important;
	scroll-behavior: smooth!important;
}



body {
	height: 100%;
	width: 100%;
	overflow-x: hidden !important;
	scroll-behavior: smooth!important;
	transition: 2s;
	font-family: "Montserrat";
}

section {
	margin: 30px 0px 30px 0px;
	padding: 20px;
}

 hr {
	margin: 0.5rem;
	color: inherit;
	background-color: #ccc;
	
} 

p {
	margin-top: 0;
	margin-bottom: 0rem;
}

a {
	color: #0d6efd;
	text-decoration: none;
}

#topbar-content p {
	text-align: center;
	color: #fff;
	background-color: #000;
	padding: 10px;
}


.blue {
	color: #003399;
}

.sub-h {
	text-align: center;
	font-size: 18px;
	font-weight: 500;
}

.blue-btn {
	background-color: #3794e1;
	color: #fff;
	border-style: none;
	padding: 10px 20px;
	border-radius: 30px;
	margin: 20px 0px;
}


.top-banner {
	background-image: url(../images/desktop-bg-sharda-1.webp);
	background-size: cover;
	padding: 50px 40px;
}

#main-content {
	padding: 30px 20px;
}

#main-content .ab2 {
	font-size: 35px;
	color: #ff6600;
}

#main-content h1 {
	color: #000;
	font-size: 35px !important;
	font-weight: 700;
}

#main-content h2 {
	background-color: #003399;
	font-size: 17px;
	color: #fff;
	padding: 10px;
	width: 420px;
	font-weight: 700;
	margin-top:20px;
}


.top-rec {
	display: flex;
	font-weight: 600;
	justify-content: space-between;
	width: 450px; margin-top:20px;
}

.ug{width: 200px; line-height: 1.3;}
.per{width: 300px; line-height: 1.3;}

.top-sm-img {
	width: 50px; padding-right: 10px;
}

.top-banner h2 {
	font-size: 30px;
	font-weight: 500;
}

.topbtn {
	background-color: #0CB1EF;
	border-style: none;
	padding: 10px 30px;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	border-radius: 5px;
	margin: 20px 0px;
}

/* end topbar */

/* start programs */


#pro-hd {
	text-align: center;
	color: #003399;
	font-size: 30px;
	font-weight: 600;
}

#programs {
	border-top: 50px;
}

.program-sl {
	margin-top: 50px !important;
}

#programs h2 {
	color: #003399;
	font-size: 20px;
	text-align: center;
	font-weight: 600;
}


#card-box {
	margin: 10px;
	/* box-shadow: 0 18px 18px 0 rgba(0, 0, 0, 0.2); */
	border-radius: 10px;
	border: 1px solid #ccc;
}

.card-box-cnt {
	padding: 10px;
	text-align: center;
}

.card-box-cnt h2 {
	color: #17479E;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin: 0px;
}

.full-course-name {
	font-weight: 600;
}

#card-box p {
	font-size: 13px;
	line-height: 1.3;
	margin: 0px 10px;
}


.my-btn {
	display: flex;
	justify-content: space-between;
	margin: 0px 20px;
}

.info {
	display: flex;
	justify-content: space-evenly;
	margin: 10px 20px;
}

.info .fa {
	font-size: 15px;
	color: #03b5d2;
}

.duration h3 {
	font-weight: 500;
	font-size: 15px;
}

.fac h3 {
	font-weight: 500;
	font-size: 15px;
}

.blue-btn-university {
	color: #fff;
	background-color: #17479E;
	padding: 7px 10px;
	border-style: none;
	border-radius: 5px;
	margin: 10px 0px 10px 0px;
	font-weight: bold;
	font-size: 12px;
	/* width: 90%; */
}

.skyBl-btn-university {
	color: #fff;
	background-color: #0CB1EF;
	padding: 7px 10px;
	border-style: none;
	border-radius: 5px;
	margin: 10px 0px 10px 0px;
	font-weight: bold;
	font-size: 12px;

}

/* end programs */

/* about */

#about {
	background-image: url("../images/about-image-desktop-sharda.webp") !important;
	background-size: cover;
	padding: 50px;
	padding-bottom: 270px;
}

#about {
	text-align: center;
}

#about p {
	font-size: 14px;
	/* width: 960px; */
    justify-content: center;
    margin: 20px 50px;
	margin-top: 20px;
}

.about-sub-h {
	font-size: 15px;
	font-weight: bold;
	background-color: orange;
	padding: 10px;
	margin: 0px 150px;
}

#about h2 {
	font-size: 30px;
	font-weight: bold;
	color: #003399;
}


/* start approvals */

#approvals {
	background-color: #17479E !important;
	text-align: center;
	padding: 50px;
}

#approvals h2 {
	color: #fff;
	padding: 0px 0px 20px 0px;
	font-weight: 600;
}

#aprvls {
	background-color: #fff;
	padding: 10px 10px 20px 10px;
	border-radius: 30px;
}

#approvals-box img {
	width: 50%;
}

#approvals-box p {
	font-size: 13px;
	font-weight: 500;
	margin-top: 10px;
}


/* start placement */
#placement {
	text-align: center;
}

#placement h2 {
	font-size: 25px;
	color: #fff;
	margin-top: 20px;
	text-align: center;
	text-decoration: underline;
}

.hh {
	color: #003399;
	font-weight: bold;
}

/* program-highlight */
#program-highlight-cc {
	width: 80%;
}

#program-highlight {
	background-color: #17479E;
	padding: 40px;
	color: #fff;
}

#program-highlight h2 {
	color: #fff;
	font-size: 2vw;
	font-weight: 600;
}

#program-highlight h3 {
	font-size: 17px;
	font-weight: 600;
}

.program-highlight-box p {
	font-size: 14px; line-height: 1.3;
}


.program-highlight-box {
	margin: 10px;
	padding: 20px 15px;
	font-size: 14px;
}


.program-highlight-box img {
	float: left;
	width: 80px;
	padding: 5px;

}


/* university */
#placement {
	padding: 0px 30px 10px 30px;
}

#placement h2 {
	font-size: 2vw;
	color: #003399;
}

#placement img {
	width: 100%;
	padding: 10px;
}

#placement-img p {
	text-align: center;
	font-weight: 500;
}

/* Courses */

/* footer */
#footer {
	padding: 30px 30px;
	background-color: #17479E;
	color: #fff;
}

#footer h2 {
	font-size: 20px;
}

.footer-enquiry {
	width: 600px;
	display: flex;
	align-items: center;
	margin: auto;
	justify-content: space-between;
}


.ftr-btn {
	padding: 10px 30px;
	border-style: none;
	border-radius: 30px;
	border: 1px solid #fff;
	color: #fff;
	font-weight: bold;
}


#footer-bottom-bar {
	background-color: #153682;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-align: center;
}


#faq h2 {
	font-size: 3vw;
	font-weight: 700;
	text-align: center;
	color: #17479E;
}

#faq-subh {
	text-align: center;
}

.accordion .accordion-item button[aria-expanded="true"] {
	background-color: #ebebeb;
	color: #000;
	border-radius: 0px 0px 0px 0px;
}

.accordion-item {
	background-color: #fff;
	margin: 10px;
	/* border-style: none!important; */
	border-bottom: 1px solid #ccc;
	border-right: 0px;
	border-top: 0px;
	border-left: 0px;

}

.accordion button {
	position: relative;
	display: block;
	text-align: left;
	width: 100%;
	padding: 1em;
	color: #7288a2;
	font-size: 1rem;
	font-weight: 400;
	border: none;
	background: none;
	outline: none;


}

.accordion button:hover,
.accordion button:focus {
	cursor: pointer;
	color: #03b5d2;
}

.accordion button:hover::after,
.accordion button:focus::after {
	cursor: pointer;
	color: #03b5d2;
}

.accordion button .accordion-title {
	font-weight: 500;
	color: #000;
}

.accordion button .icon {
	display: inline-block;
	position: absolute;
	top: 18px;
	right: 10px;
	width: 22px;
	height: 22px;
	border-radius: 22px;
	background-color: #0CB1EF;
	color: #fff;
}

.accordion button .icon::before {
	display: block;
	position: absolute;
	content: "";
	top: 9px;
	left: 5px;
	width: 10px;
	height: 2px;
	background: currentColor;
}

.accordion button .icon::after {
	display: block;
	position: absolute;
	content: "";
	top: 5px;
	left: 9px;
	width: 2px;
	height: 10px;
	background: currentColor;
}

.accordion button[aria-expanded="true"] {
	color: #03b5d2;
}

.accordion button[aria-expanded="true"] .icon::after {
	width: 0;
}

.accordion button[aria-expanded="true"]+.accordion-content {
	opacity: 1;
	max-height: 9em;
	/* transition: all 200ms linear; */
	will-change: opacity, max-height;
	background-color: #f7f7f7;
	color: #000;
	padding: 0.5rem 1rem;
}

.accordion .accordion-content {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: opacity 200ms linear, max-height 200ms linear;
	will-change: opacity, max-height;
}

.accordion .accordion-content p {
	font-size: 1rem;
	font-weight: 300;
	margin: 0.9em 0.9em;
}

.child {
	background-color: rgba(220, 220, 220, 0.5);
	padding: 18px;
	height: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/*FORM-section*/
#form {
	padding: 30px 20px;
	background-color: #fff;
	box-shadow: 0 0 5px 2px #17469e3c;
	margin-top: 0px;
	margin: 20px;
	border-radius: 10px;
}

.frm-heading h5 {
	text-align: center;
	font-size: 20px;
	color: #0CB1EF;
	margin: 0px;
}

.frm-heading p {
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	padding: 0px 0px 0px 0px;
	/* margin-top: -18px; */
}

label {
	color: #000;
	font-weight: 500;
	padding-top: 5px;
}

.form-control {
	line-height: 1.5;
	background-color: #fff !important;
	border: 1px solid #ccc !important;
	font-size: 0.75em;
	margin-bottom: 10px;
}

.required {
	color: red;
}

.sub-btn {
	background-color: #0CB1EF;
	color: #fff;
	width: 100%;
	border-style: none;
	padding: 5px;
	border-radius: 3px;
	font-weight: 500;
}

.about-text {
	margin: 30px 0px;
}

.modal {
	display: none;
	position: fixed;
	/* z-index: 1; */
	left: 0;
	top: 0;
	width: 100%;
	/* height: auto; */
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: transparent !important;
	margin: 5% auto;
	border-style: none;
	width: 35%;
}

/* Close button style */
.close {
	color: #fff;
	/* width: 40px; */
	float: right;
	/* padding: 0px 8px; */
	/* padding-left: 10px; */
	font-size: 28px;
	position: absolute;
	font-weight: bold;
	color: #707070;
	margin-left: 87%;
	padding: 0px 5px;
	margin-top:20px;

}

.close:hover,
.close:focus {
	color: red;
	text-decoration: none;
	cursor: pointer;
}

.modal-content {
	background-color: transparent;
	margin: 5% auto;

	width: 35%;
}


@media (max-width: 480px) {

	section {
		margin: 30px 0px 30px 0px;
		padding: 20px 10px;
	}

	p {
		margin-top: 0;
		margin-bottom: 0rem;
	}


	.blue-btn-university {
		color: #fff;
		padding: 7px 10px;
		border-style: none;
		border-radius: 5px;
		margin: 10px 0px 10px 0px;
		font-weight: bold;
		font-size: 11px;

	}

	.blue-btn {
		background-color: #3794e1;
		color: #fff;
		border-style: none;
		padding: 10px 20px;
		border-radius: 30px;
		margin: 20px 0px;
	}


	/*.top-banner{background-color:#FAF9F5; }*/

	.top-banner {
		/* background-image: url(images/upes-model.webp); */
		/* background-size: contain; */
		padding: 20px;
		margin-bottom: 15px;
	}

	#main-content {
		padding: 10px;
	}

	#main-content h1 {
		color: #000;
		font-size: 25px !important;
		font-weight: 700;
	}

	#main-content h2 {
		background-color: #003399;
		font-size: 17px;
		color: #fff;
		padding: 10px;
		width: 300px;
		font-weight: 700;
	}

	#main-content p {
		font-size: 16px;
		
	}

  .topbtn {
    background-color: #0CB1EF;
    border-style: none;
    padding: 10px 10px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    margin: 20px 0px;
  }

	.top-rec {
		display: flex;
        font-weight: 600;
        justify-content: space-between;
        width: 350px;
    }


	/* about */
	#about {
		background-image: none!important;
		background-color: #F0F3FA;
		padding: 40px 10px 0px 10px;
		
	}

	#about h2 {
		font-size: 22px;
		font-weight: bold;
		color: #003399;
		text-align: center;
	}


	#about p {
		font-size: 13px;
	justify-content: center;
		margin: auto;
		margin-top: 20px;
	}

	.about-text {
		margin: 10px 0px;
		text-align: justify;
	}


	.s1 {
		padding: 0px 10px;
	}



	/* #mba-specialization h2 {
		color: #ffcc00;
		font-size: 18px;
		text-align: center;
		font-weight: 600;
	}

	.sub-h-splz {
		text-align: center;
	} */

	/*#mba-specialization p{text-align:center;}*/


	#placement h2 {
		font-size: 30px;
		color: #fff;
	}

	#aprvls {
		padding: 25px 20px 20px 20px;
	}

	#text-aprvls {
		padding: 30px;
		line-height: 1.4em;
		text-align: center;
	}

	#splz {
		color: #000;
	}

	.hh {
		color: #003399;
		font-weight: bold;
	}

	#pro-hd {
		text-align: center;
		color: #003399;
		font-size: 25px;
		font-weight: 600;
	}
	

	/* program-highlight */
	/* program-highlight */
	#program-highlight-cc {
		width: 80%;
	}

	#program-highlight {
		background-color: #17479E;
		padding: 40px 0px;
		color: #fff;
	}

	#program-highlight h2 {
		color: #fff;
		font-size: 20px;
		font-weight: 600;
	}

	#program-highlight h3 {
		font-size: 15px;
		font-weight: 600;
	}

	.program-highlight-box p {
		font-size: 12px;
	}


	.program-highlight-box {
		margin: 10px;
		padding: 10px 0px;
		font-size: 14px;
	}


	.program-highlight-box img {
		float: left;
		width: 30%;
		padding: 5px;

	}


	/* start approvals */
	#approvals-box {
		padding: 10px;
		border-radius: 10px;
		width: 50%;
	}

	#aprvls {
		background-color: #fff;
		padding: 10px;
		border-radius: 30px;
	}


	/* start approvals */


	#approvals {
		padding: 20px;
	}

	#approvals h2 {
		color: #fff;
		padding: 20px 0px 20px 0px;
		font-size: 22px;
		font-weight: 600;
	}

	#aprvls {
		background-color: #fff;
		padding: 10px;
		border-radius: 10px;
	}

	#approvals-box img {
		width: 50%;
	}

	#approvals-box p {
		font-size: 12px;
		font-weight: 500;
		margin-top: 10px;
		line-height: 1.2;
	}


	#approvals-box p {
		font-size: 13px;
		font-weight: 500;
		margin-top: 10px;
	}


	.programs-heading h2 {
		text-align: center;
		font-size: 20px;
	}

	#programs {
		border-top: 50px;
	}

	.my-btn {
		display: flex;
		justify-content: space-between;
		margin: 0px 10px;
	}

	

	#footer {
		padding: 30px 30px;
		background-color: #17479E;
		color: #fff;
	}

	#footer h2 {
		font-size: 20px;
	}

	.footer-enquiry {
		width: 100%;
		display: grid;
		align-items: center;
		margin: auto;
		justify-content: center; text-align:center;
	}


	.ftr-btn {
		padding: 10px 30px;
		border-style: none;
		border-radius: 30px;
		border: 1px solid #fff;
		color: #fff;
		font-weight: bold;
		text-align: center;
	}


	#footer-bottom-bar {
		background-color: #153682;
		padding: 10px;
		font-size: 13px;
		color: #fff;
		text-align: center;
	}


	#faq h2 {
		text-align: center;
		font-size: 10vw;
		font-weight: 700;
		color: #003399;
	}



	#faq p {
		padding-left: 0px;
	}

	#faq-subh {
		text-align: center;
	}

	.accordion .accordion-item button[aria-expanded="true"] {
		
		color: #000;
		border-radius: 0px 0px 0px 0px;
	}

	.accordion-item {
		
		border-bottom: 1px solid #ccc;
	}

	.accordion button {
		position: relative;
		display: block;
		text-align: left;
		width: 100%;
		padding: 0.8em;
		color: #7288a2;
		font-size: 1rem;
		font-weight: 400;
		border: none;
		background: none;
		outline: none;
		border-bottom: 1px solid #ccc;
	}

	.accordion button:hover,
	.accordion button:focus {
		cursor: pointer;
		color: #03b5d2;
	}

	.accordion button:hover::after,
	.accordion button:focus::after {
		cursor: pointer;
		color: #03b5d2;
		/* border: 1px solid #03b5d2; */
	}

	.accordion button .accordion-title {
		font-weight: 500;
		color: #000;
		
	}

	.accordion button .icon {
		display: inline-block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 22px;
		height: 22px;
		/* border: 1px solid; */
		border-radius: 22px;
	}

	.accordion button .icon::before {
		display: block;
		position: absolute;
		content: "";
		top: 9px;
		left: 5px;
		width: 10px;
		height: 2px;
		background: currentColor;
	}

	.accordion button .icon::after {
		display: block;
		position: absolute;
		content: "";
		top: 5px;
		left: 9px;
		width: 2px;
		height: 10px;
		background: currentColor;
	}

	.accordion button[aria-expanded="true"] {
		color: #03b5d2;
	}

	.accordion button[aria-expanded="true"] .icon::after {
		width: 0;
	}

	.accordion button[aria-expanded="true"]+.accordion-content {
		opacity: 1;
		max-height: 100%;
		/* transition: all 200ms linear; */
		will-change: opacity, max-height;
		background-color: #f7f7f7;
		color: #000;
		padding: 0.5rem 1rem;
		border-radius: 0px 0px 10px 10px; font-size:13px;
	}

	.accordion .accordion-content {
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		transition: opacity 200ms linear, max-height 200ms linear;
		will-change: opacity, max-height;
	}

	.accordion .accordion-content p {
		font-size: 13px;
		font-weight: 300;
		margin: 0.5em 0;
	}

	.child {
		background-color: rgba(220, 220, 220, 0.5);
		padding: 18px;
		height: auto;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	/*FORM-section*/
	/*FORM-section*/
	#form {
		padding: 30px 20px;
		background-color: #fff;
		box-shadow: 0 0 5px 2px #17469e3c;
		margin-top: 0px;
		margin: 0px 10px;
		border-radius: 10px;
	}

	.frm-heading h5 {
		text-align: center;
		font-size: 20px;
		color: #0CB1EF;
	}

	.frm-heading p {
		text-align: center;
		font-size: 15px;
		font-weight: 500;
		/* margin-top: -18px; */
	}

	label {
		color: #000;
		font-weight: 500;
		padding-top: 5px;
	}

	.form-control {
		line-height: 1.5;
		background-color: #fff !important;
		border: 1px solid #ccc !important;
		font-size: 0.75em;
	}

	.required {
		color: red;
	}

	.sub-btn {
		background-color: #0CB1EF;
		color: #fff;
		width: 100%;
		border-style: none;
		padding: 5px;
		border-radius: 3px;
		font-weight: 500;
	}


	#placement {
		padding: 20px;
		background-color: #fff;
	}

	#placement h2 {
		font-size: 20px;
		color: #003399;
		margin-top: -2px;
	}

	#card-box {
		margin: 10px;
		box-shadow: 0 18px 18px 0 rgba(0, 0, 0, 0.2);
	}

	.card-box-cnt {
		padding: 20px;
	}

	.heading-splz {
		font-size: 17px;
	}

	#card-box p {
		font-size: 12px;
		line-height: 1.3;
	}

	#card-box h6 {
		margin-top: 10px;
		font-size: 13px;
	}


	.splz {
		margin-top: 10px;
	}

	.modal {
		display: none;
		position: fixed;
		/* z-index: 1; */
		left: 0;
		top: 0;
		width: 100%;
		/* height: auto; */
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.4);
		transition: opacity 0.5s ease-in-out;
	}

	.modal-content {
		margin: 35% auto;
		/* padding: 20px; */
		width: 83%;
		background-color: transparent;
		border-style: none;
	}

	/* Close button style */
	.close {
		color: #aaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
		position: absolute;
		margin-left: 88%;
		margin-top: 5px;
	}

	.close:hover,
	.close:focus {
		color: red;
		text-decoration: none;
		cursor: pointer;
	}

	a {
		color: #0d6efd;
		/* text-decoration: underline; */
		text-decoration: none;
	}

	video {
		margin-bottom: -10px;
	}

	.modal-content {
		width: 100%;

	}


}