.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0px;
      background-color: #fff;
      color: #fff;
      position: relative; 
    }

    .header .logo img {
     width: 250px;
      font-weight: bold;
    }

    .header .navbar {
      display: flex;
      gap: 20px;
    }

    .header .navbar a {
      text-decoration: none;
      color: #0E5C9E;
      font-size: 1rem;
    }

    .header .navbar a:hover {
      color: #f0a500;
    }

    /* Responsive styles */
    @media (max-width: 768px) {
      .header .navbar {
        display: none; /* Hide navbar links on smaller screens */
        flex-direction: column;
        background-color: #ececec;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 10px; z-index: 1000;
      }

      .header .navbar.active {
        display: flex; /* Show navbar links when toggled */
      }

      .menu-toggle {
        display: block;
        cursor: pointer;
        font-size: 1.5rem;
        color: #0E5C9E;
      }

      .banner-content h1 {
        font-weight: bold !important;
        font-size: 35px;
        line-height: 1;
        padding: 0px;
    }
    }

    @media (min-width: 769px) {
      .menu-toggle {
        display: none; /* Hide menu toggle on larger screens */
      }
    }